<!-- ======= Works Section ======= -->
<section class="section site-portfolio">
  <div class="container">
    <div class="row mb-5 align-items-center">
      <div class="col-md-12 col-lg-6 mb-4 mb-lg-0" data-aos="fade-up">
        <h2>Hey, I'm Ziyi Zhu</h2>
        <p class="mb-0">Developer &amp; Artist</p>
      </div>
      <div class="col-md-12 col-lg-6 text-start text-lg-end" data-aos="fade-up" data-aos-delay="100">
        <div id="filters" class="filters">
          <a href="#" data-filter="*" class="active">All</a>
          <a href="#" data-filter=".web">Web</a>
          <a href="#" data-filter=".painting">Painting</a>
          <a href="#" data-filter=".sketch">Sketch</a>
          <a href="#" data-filter=".photography">Photography</a>
        </div>
      </div>
    </div>
    <div id="portfolio-grid" class="row no-gutter" data-aos="fade-up" data-aos-delay="200">
      <% data.forEach(function(image) { %>
        <div class="item <%= image.type %> col-sm-6 col-md-4 col-lg-4 mb-4">
          <a href="/work/<%= image.type %>/<%= image.id %>" class="item-wrap fancybox">
            <div class="work-info">
              <% info = map.get(image.path) %>
              <h3><%= typeof info != 'undefined' ? info.title : 'Untitled' %></h3>
              <span><%= image.type %></span>
            </div>
            <img class="img-fluid" src="/assets/img/works/<%= image.path %>">
          </a>
        </div>
      <% }); %>
    </div>
  </div>
</section><!-- End  Works Section -->