<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body>
  <%- include('../partials/header'); %>

  <main id="main">

    <%- include('../partials/works'); %>

    <%- include('../partials/clients'); %>

    <%- include('../partials/testimonials'); %>

  </main><!-- End #main -->

  <%- include('../partials/footer'); %>

</body>

</html>